<!-- <h2>Boards Form</h2>

<label for='Name'>Title</label>
<input type='text' name='title' id='title' value='<%= post.escape('title') %>'>

<label for='body'>Body</label>
<textarea name='body' id='body'><%= post.escape('body') %></textarea>

<button>Submit</button> -->
